<div class="container">
  <h1>Fruit Basket</h1>
  <small class="data">Raw Data: <%= @fruits %></small>
  <br>
  <%= link_to "Order by Name #{order_arrow(@order, @sort, BasketCaseController::NAME)}", basket_case_index_path(order: toggle_order(@order), sort: BasketCaseController::NAME), class: "button -sort-name"%>
  <%= link_to "Order by Amount #{order_arrow(@order, @sort, BasketCaseController::AMOUNT)}", basket_case_index_path(order: toggle_order(@order), sort: BasketCaseController::AMOUNT), class: "button -sort-amount"%>
  <br>
  <br>

  <table>
    <thead>
      <tr>
        <th><%=BasketCaseController::NAME.titleize%></th>
        <th><%=BasketCaseController::AMOUNT.titleize%></th>
      </tr>
    </thead>
    <tbody>
      <% @list_items.each do |fruit, amount| %>
        <tr>
          <td><%= fruit.to_s.titleize %></td>
          <td><%= amount  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>